
<nav>
    <div class="nav-wrapper">
        <a href="#" class="sidenav-trigger" data-target="slide-out" style="display:inline-block">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">

            <li><a href="sass.html"><i class="material-icons">search</i></a></li>
            <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
        </ul>
    </div>
</nav>

