<div class="row valign-wrapper">
    <div class="col s4 center">
        
    </div>
    <div class="col s4 center">
        <h3>happy birthday contacts</h3>
        <img src="https://1.bp.blogspot.com/-tx_GUHsKvRc/WkHNDpdFfPI/AAAAAAAH4AM/8IA5E2J_cFsI1FTulb8Bs4RSND17KYLwgCLcBGAs/s1600/Birthday_Cake_PNG_Clip_Art_Image.png"
            alt="" class="circle responsive-img">
    </div>
    <div class="col s4 center">
    </div>
</div>
