<div class="row valign-wrapper">
    <div class="col s4 center">
        
    </div>
    <div class="col s4 center">
        <h1>Welcome Home!</h1>
        <img src="https://www.aboutespanol.com/thmb/1lZVtmWmEVCSczSC9h6HHfgodqc=/2162x1216/smart/filters:no_upscale()/Red-social-en-Internet-56a01c8a3df78cafdaa02b2d.jpg"
            alt="" class="circle responsive-img">
    </div>
    <div class="col s4 center">
    </div>
</div>