<div class="row">
    <!--button add-->
    <div class="center">
        <!-- Modal Trigger -->

        <a class="waves-effect light-blue accent-3  btn modal-trigger" href="#modalAdd">
            <i class="material-icons left">add</i>New
        </a>

        <!-- Modal Structure -->
        <div id="modalAdd" class="modal">
            <div class="modal-content">
                <app-add-contact (contactAdded)="addContact($event)"></app-add-contact>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

    </div>
    <!--/button add-->


    <div class="col s12">
        <app-list-contact
             class="col s12 p-2"
            *ngFor="let contact of contacts"
            [contact]="contact"
        ></app-list-contact>
    </div>
</div>