<div class="" >
  <div class="row">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- Sidebar -->
    <div class="">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Dashboard -->
    <div class="">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</div>


<!--<router-outlet></router-outlet>-->