<div class="col s12 ">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s1">
          <img src="https://i.pinimg.com/originals/e6/ff/41/e6ff417d6a66dd3275cdb8b3d2bd9c8d.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s12">
          <span class="black-text">
            <ul class="">

                <div class="col s9 valign-wrapper">
                    <div class="row center-align">
                        <li class="center-align">
                            {{contact.fullName}}                        
        
                        </li>
                        <li class="center-align">
                            {{contact.cellPhone}}
                            
                        </li>
                        <li class="center-align">
                            {{contact.birthdayDate}}
                        </li>
        
                    </div>
        
        
                </div>
                <div class="col s2 right">
                    <div class="row">
                        <span center-align>
                            <!-- Modal Trigger -->
                            <!--button add-->
                            <div class="center">
                                <!-- Modal Structure -->
                                <div id="modalEdit" class="modal">
                                    <div class="modal-content">
                                        <app-edit-contact></app-edit-contact>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                    </div>
                                </div>
        
                            </div>
                            <!--/button add-->
        
                            <a href="#modalEdit" class="waves-effect waves-light amber darken-1 btn  modal-trigger">
                                <i class="material-icons center">edit</i>
        
                            </a> |
                            <a href="#" (click)="deleteContact(contact)" class="waves-effect waves-light red btn">
                                <i class="material-icons center">delete_forever</i>
                            </a>
                        </span>
                    </div>
        
        
        
                </div>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
