<div class="container section">

    <ul class="sidenav " id="slide-out">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="https://img.freepik.com/foto-gratis/textura-viejo-fondo-papel-rosado-oscuro_113767-1613.jpg?size=626&ext=jpg" alt="">
                </div>
                <a href="#">
                    <img src="https://mymodernmet.com/wp/wp-content/uploads/2019/09/100k-ai-faces-6.jpg" alt=""
                        class="circle">
                </a>
                <a href="">
                    <span class="name white-text">Gamboa</span>
                </a>
                <a href="">
                    <span class="name white-text">Gamboa@tucorreo,cl</span>
                </a>
            </div>
        </li>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header "><i class="material-icons">group_add</i>Contacts</div>
                <div class="collapsible-body ">
                    <ul>
                        <li><a [routerLink]="['/totalcontacts']" routerLinkActive="router-link-active">Total of contacts<i class="material-icons">person</i></a>
                        </li>
                        <li><a [routerLink]="['/birthday']" routerLinkActive="router-link-active">Happy Birthday today<i class="material-icons">list</i></a>
                        </li>
                        <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">My Contacts<i class="material-icons">dashboard</i></a>
                        </li>
                      

                    </ul>

                </div>
            </li>

        </ul>




    </ul>
</div>