<div class="row">

    <div class="row">
        <nav class=" light-blue">Form Edit Contact</nav>
    </div>
    <form class="col s12" (ngSubmit)="editContact()">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="idNumber" type="text" class="validate" [(ngModel)]="idNumber">
                <label for="idNumber">Id number</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="fullName" type="text" name="fullName" class="validate" [(ngModel)]="fullName">
                <label for="fullName">Full name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="direction" type="text" name="direction" class="validate" [(ngModel)]="direction">
                <label for="direction">Direction</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="cellPhone" type="text" name="cellPhone" class="validate" [(ngModel)]="cellPhone">
                <label for="cellPhone">Cell phone</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">cake</i>
                <input id="birthdayDate" type="text" name="birthdayDate" class="validate" [(ngModel)]="birthdayDate">
    
                <label for="birthdayDate">Birthday date</label>
            </div>
    
            <div class="input-field col s12 center">
                <button class="btn waves-effect light-blue" type="submit">
                    Save Contact
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>


        
    </form>
</div>